[appserver]
# There are several ways to set the addresses and ports to listen on:
#
# 1) set array of pairs address:port (one or more) like below,
#    socket paths is also allowable
#Listen            = [ 0.0.0.0:119 ]
#
# 2) local local IP address and/or port number
#LocalAddr         = 0.0.0.0
#LocalPort         = 119

[cache]
dbDriver          = mysql
dbDataSource      =             # db name
dbUsername        =             # user name
dbPassword        =             # password
dbUseSocket       = no          # use or not socket to connect to mysql server
dbHost            = localhost   # mysql server address
dbPort            = 3306        # mysql server port
dbSocket          =             # mysql socket
dbCharset         = utf8        # utf-8

[log]
FileName          = /var/log/nntp-vb.log

# Log Levels are:
#   7 - debug (highest level)
#   6 - info
#   5 - notice
#   4 - warning, warn
#   3 - error, err
#   2 - critical, crit
#   1 - alert
#   0 - emergency, emerg (lowest level)
#
# Level debug is the highest level because it basically says to log every peep.
#
# It's possible to set the log level as string or as number. The default
# setting for maxlevel is warning and the default setting for minlevel is
# emergency.
#
# Example: If maxlevel is set to warning and minlevel
# to emergency then the levels warning, error, critical, alert
# and emergency would be logged.
#
# You can set both to 8 or nothing if you want to disable the logging machine.

MinLevel          = emerg
MaxLevel          = error
