[daemon]

;local local IP address and/or port number
DaemonHost=0.0.0.0

; Port for plain connection. SSL recommended instead.
DaemonPort=119

; Port for secure connections (SSL). Uncomment to activate.
;DaemonSslPort = 536

; Certificate & key container. Must be defined if SSL activated
;PemFile = /your/ssl/file.pem

; Max. simultanious connections to daemon. 50 by default.
;MaxClients=50

; Inactivity timeout (in seconds), to close idle connections.
; 15 seconds by default. Don't set too large, or uncrease MaxClients too.
;InactiveTimeout=15

[log]

; Log file. Comment to disable
LogFile=/var/log/vbnntp.log

; Event types to log
;
; cmd - incoming commands
; reply - server reply, only first string (to keep log compact)
; mutistring - all server reply, even if multiple strings
; info - start / stop / restart
; error - fatal errors
;
; Set all for for debug, info & errors for production
;
;LogLevel = cmd, reply, multistring, info, error
LogLevel = info, error

; For debug (not implemented yet)
;LogUserIPs = 127.0.0.1
;LogUserIDs = 1, 2, 333

[db]

DataSource={your database}
Username={db username}
Password={db password}

; DB host. localhost by default
;Host=localhost

; DB port. 3306 by default 
;Port=3306

; Prefix for all tables (if used, in vbulletin)
; empty by default
;TablePrefix=

